<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.receitas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Receitas">
        <activity
            android:name=".ListarReceitasFavoritas"
            android:exported="true" />
        <activity
            android:name=".ListarItemMenuFavorito"
            android:exported="true" />
        <activity
            android:name=".ListarMinhasReceitas"
            android:exported="true" />
        <activity
            android:name=".AddReceita"
            android:exported="true" />
        <activity
            android:name=".ConsultarMenu"
            android:exported="true" />
        <activity
            android:name=".ConsultarReceitas"
            android:exported="true" />
        <activity
            android:name=".Cadastro"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>